.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
    scroll-behavior: smooth;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }

  h3{
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931; 
    font-size: 2rem;
    color: red;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
.refreshBtn{
    background-color: #6B579E;
    font-size: 16px;
    color: #0D0D0D;
    padding: 10px 25px;
	border: 2px solid #171819;
	border-radius: 10px;
	font-weight: 600;
}

  footer {
    background-color: #232931;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  width: 100%;
  padding: 10px 0;
  }


  footer p {
    font-size: 20px;
    font-weight: 300;
    color: #FAF9F6;
  }